@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E4E9F7;
    background-image: url('path_to_your_background_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

/* .background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path_to_your_background_image.png');
    background-size: cover;
    z-index: -1;
 */

 .description {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.boxes {
    align-items: center;
}

.upload-section, .analysis-section {
    background-color: #E4E9F7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
    margin-bottom: 20px
}

.file-upload-label {
    background-color: #1d1b31;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: 340px
}

#file-upload {
    display: none;
}

#file-upload {
    display: none;
}

#file-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#file-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

#file-name {
    font-size: 14px;
    color: #333;
}

.buttons {
    display: none;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

.submit-btn, .cancel-btn {
    background-color: #1d1b31;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.submit-btn:hover, .cancel-btn:hover {
    background-color: #333;
}

.analysis-results {
    width: 100%;
  }

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 28px; 
    font-weight: 700;
}

