body {
    margin: 0;
    background-color: #f0e5d8; /* Cor de fundo semelhante à da imagem */
    font-family: Arial, sans-serif;
  }
  
  .home-section {
    padding: 20px;
  }
  
  .main-container {
    position: absolute; 
    left: 200px;
    width: 80%;
  }

  .header {
    display: flex;
    padding: 0; /* Removido padding do container para alinhar */
    margin: 0 auto; /* Centraliza o header */
  }
  
  .tab {
    color: #fff;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #555; /* Cor inicial */
    font-size: 13px;
    border: 1px solid #1e1e1e; /* Conecta a aba com o container */
  }
  
  .tab:not(:last-child) {
    border-right: none; /* Remove borda direita para não duplicar */
  }
  
  .tab.active {
    background-color: #1e1e1e; /* Fundo mais escuro para a aba ativa */
    border-bottom: 1px solid #1e1e1e; /* Conecta a aba com o container */
  }
  
  .tab:hover {
    background-color: #777; /* Cor de hover para os botões */
  }
  
  /* Estilo para o bloco que contém o texto superior */
  .header-container {
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px;
    border: 1px solid #1e1e1e;
    position: relative;
    padding-bottom: 62px;
    border-bottom: 1px solid #fff;
    border-radius: 0px 18px 0px 0px;
  }
  
  /* Estilização para o texto principal */
  .header-text {
    position: absolute;
    top: 0px;
    left: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Estilização para os subtítulos */
  .sub-text {
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .button-add {
    position: absolute;
    top: 0px;
    left: calc(100% - 48px - 5px);
  }

  .button-add input {
    display: none;
  }

  .button-add svg {
    width: 48px;
    height: 48px;
    fill: white;
    cursor: pointer;
  }

  .button-add path {
    d: path("M26 14h-4v8H14v4h8v8h4v-8h8v-4h-8zM24 4C12.972 4 4 12.972 4 24s8.972 20 20 20 20-8.972 20-20S35.028 4 24 4zm0 36c-8.822 0-16-7.178-16-16s7.178-16 16-16 16 7.178 16 16-7.178 16-16 16z");
  }

  .button-upload {
    position: absolute;
    top: 0px;
    left: calc(100% - 48px - 5px);
  }

  .button-upload svg {
    width: 48px;
    height: 48px;
    fill: white;
    cursor: pointer;
  }

  .button-upload path {
    d: path("M22 30h4V18h6l-8-10-8 10h6zM40 36H8v-14H4v14c0 2.206 1.794 4 4 4h32c2.206 0 4-1.794 4-4v-14h-4v14z");
  }

  .table {
    display: table; 
    width: 100%
  }

  .table-header {
    position: absolute; 
    top: 60px; 
    left: 0px;
  }

  .header-cell {
    display: table-cell; 
    color: white;
  }

  .header-cell-centered {
    text-align: center;
  }

  .col-spacer {
    display: table-column; 
    width: 20px;
  }

  .col-icon {
    display: table-column; 
    width: 35px;
  }

  .col-name {
    display: table-column; 
    width: 350px;
  }

  .col-owner {
    display: table-column; 
    width: 250px;
  }

  .col-size {
    display: table-column; 
    width:100px;
  }

  .col-analize {
    display: table-column; 
    width:150px;
  }

  .col-view {
    display: table-column; 
    width:150px;
  }

  .col-filler {
    display: table-column;
  }

  /* Estilo para o bloco onde começa a sequência de linhas */
  .lines-container {
    width: 100%;
    height: calc(100vh - 250px);
    background-color: #1e1e1e;
    border-radius: 0px 0px 18px 18px;
    border: 1px solid #1e1e1e;
    overflow: scroll;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell; 
    vertical-align: middle; 
    color: white; 
    border-bottom: white solid 1px;
  }

  .cell-header {
    border-bottom: none
  }

  .cell-icon {
    height: 35px;
  }

  .cell-centered {
    text-align: center;
  }

  .button-not-processed {
    width: 140px; 
    background-color: #556acb; 
    border: none; 
    border-radius: 6px;
    cursor: pointer;
  }

  .button-processed {
    width: 140px; 
    background-color: #6f9649; 
    border: none; 
    border-radius: 6px;
    cursor: pointer;
  }

  .icon-pdf svg {
    width: 24px;
    height: 24px;
    fill: red;
  }

  .icon-pdf path {
    d: path("M8.267 16.68c-.184 0-.308.018-.372.036v1.178c.076.018.171.023.302.023.479 0 .774-.242.774-.651 0-.366-.254-.586-.704-.586zm3.487.012c-.2 0-.33.018-.407.036v2.61c.077.018.201.018.313.018.817.006 1.349-.444 1.349-1.396.006-.83-.479-1.268-1.255-1.268zM14 4H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V10l-6-6zM9.498 18.19c-.309.29-.765.42-1.296.42a2.23 2.23 0 01-.308-.018v1.426H7v-3.936A7.558 7.558 0 018.219 16c.557 0 .953.106 1.22.319.254.202.426.533.426.923-.001.392-.131.723-.367.948zm3.807 1.355c-.42.349-1.059.515-1.84.515-.468 0-.799-.03-1.024-.06v-3.917A7.947 7.947 0 0111.66 16c.757 0 1.249.136 1.633.426.415.308.675.799.675 1.504 0 .763-.279 1.29-.663 1.615zM17 16.77h-1.532v.911H16.9v.734h-1.432v1.604h-.906V16.03H17v.74zM14 11h-1V6l5 5h-4z");
  }

  .icon-download svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
  
  .icon-download path {
    d: path("m12 20 4-5h-3V8h-2v7H8zM20 22H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z");
  }

  .icon-trash svg {
    width: 24px;
    height: 24px;
    fill: red;
  }

  .icon-trash path {
    d: path("M6 9H5v13a2 2 0 002 2h10a2 2 0 002-2V9H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 4H9L7.382 6H3v2h18V6z");
  }

  .icon-vdots svg {
    width: 24px;
    height: 24px;
    fill: white;
  }

  .icon-vdots path {
    d: path("M12 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z");
  }

  .icon-button {
    cursor: pointer;
  }

  .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    height: max-content;
    text-align: center; 
    background-color: #777;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
  }

  .dialog button {
    background-color: #556acb; 
    width: 30%;
    margin: 10px;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
  }

  .dialog div {
    text-align: center; 
    margin: 5px; 
    font-size: 16px; 
    color: #990a0a;
  }
