body {
    margin: 0;
    background-color: #f0e5d8; /* Cor de fundo semelhante à da imagem */
    font-family: Arial, sans-serif;
  }
  
  .home-section {
    padding: 20px;
  }
  
  .main-container {
    position: absolute; 
    left: 200px;
    width: 80%;
  }

  .header {
    display: flex;
    padding: 0; /* Removido padding do container para alinhar */
    margin: 0 auto; /* Centraliza o header */
  }
  
  .tab {
    color: #fff;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #555; /* Cor inicial */
    font-size: 13px;
    border: 1px solid #1e1e1e; /* Conecta a aba com o container */
  }
  
  .tab:not(:last-child) {
    border-right: none; /* Remove borda direita para não duplicar */
  }
  
  .tab.active {
    background-color: #1e1e1e; /* Fundo mais escuro para a aba ativa */
    border-bottom: 1px solid #1e1e1e; /* Conecta a aba com o container */
  }
  
  .tab:hover {
    background-color: #777; /* Cor de hover para os botões */
  }
  
  /* Estilo para o bloco que contém o texto superior */
  .header-container {
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px;
    border: 1px solid #1e1e1e;
    position: relative;
    padding-bottom: 62px;
    border-bottom: 1px solid #fff;
    border-radius: 0px 18px 0px 0px;
  }
  
  /* Estilização para o texto principal */
  .header-text {
    position: absolute;
    top: 0px;
    left: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Estilização para os subtítulos */
  .sub-text {
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .button-add {
    position: absolute;
    top: 0px;
    left: calc(100% - 48px - 5px);
  }

  .button-add input {
    display: none;
  }

  .button-add svg {
    width: 48px;
    height: 48px;
    fill: white;
    cursor: pointer;
  }

  .button-add path {
    d: path("M26 14h-4v8H14v4h8v8h4v-8h8v-4h-8zM24 4C12.972 4 4 12.972 4 24s8.972 20 20 20 20-8.972 20-20S35.028 4 24 4zm0 36c-8.822 0-16-7.178-16-16s7.178-16 16-16 16 7.178 16 16-7.178 16-16 16z");
  }

  .button-upload {
    position: absolute;
    top: 0px;
    left: calc(100% - 48px - 5px);
  }

  .button-upload svg {
    width: 48px;
    height: 48px;
    fill: white;
    cursor: pointer;
  }

  .button-upload path {
    d: path("M22 30h4V18h6l-8-10-8 10h6zM40 36H8v-14H4v14c0 2.206 1.794 4 4 4h32c2.206 0 4-1.794 4-4v-14h-4v14z");
  }

  .table {
    display: table; 
    width: 100%
  }

  .table-header {
    position: absolute; 
    top: 60px; 
    left: 0px;
  }

  .header-cell {
    display: table-cell; 
    color: white;
  }

  .header-cell-centered {
    text-align: center;
  }

  .col-spacer {
    display: table-column; 
    width: 20px;
  }

  .col-icon {
    display: table-column; 
    width: 35px;
  }

  .col-name {
    display: table-column; 
    width: 350px;
  }

  .col-owner {
    display: table-column; 
    width: 250px;
  }

  .col-size {
    display: table-column; 
    width:100px;
  }

  .col-analize {
    display: table-column; 
    width:150px;
  }

  .col-view {
    display: table-column; 
    width:150px;
  }

  .col-filler {
    display: table-column;
  }

  /* Estilo para o bloco onde começa a sequência de linhas */
  .lines-container {
    width: 100%;
    height: calc(100vh - 250px);
    background-color: #1e1e1e;
    border-radius: 0px 0px 18px 18px;
    border: 1px solid #1e1e1e;
    overflow: scroll;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell; 
    vertical-align: middle; 
    color: white; 
    border-bottom: white solid 1px;
  }

  .cell-header {
    border-bottom: none
  }

  .cell-icon {
    height: 35px;
  }

  .cell-centered {
    text-align: center;
  }

  .button-not-processed {
    width: 140px; 
    background-color: #556acb; 
    border: none; 
    border-radius: 6px;
    cursor: pointer;
  }

  .button-not-processed:disabled {
    color: grey;
  }

  .button-processing {
    width: 140px; 
    background-color: #CBB655; 
    border: none; 
    border-radius: 6px;
    /* cursor: pointer; */
    cursor: progress;

  }

  .button-processing:disabled {
    color: #585858;
  }

  .button-processed {
    width: 140px; 
    background-color: #6f9649; 
    border: none; 
    border-radius: 6px;
    cursor: pointer;
  }

  .button-processed:disabled {
    color: #585858;
  }

  .button-analized {
    cursor: not-allowed;
  }

  .icon-pdf svg {
    width: 24px;
    height: 24px;
    fill: red;
  }

  .icon-pdf path {
    d: path("M8.267 16.68c-.184 0-.308.018-.372.036v1.178c.076.018.171.023.302.023.479 0 .774-.242.774-.651 0-.366-.254-.586-.704-.586zm3.487.012c-.2 0-.33.018-.407.036v2.61c.077.018.201.018.313.018.817.006 1.349-.444 1.349-1.396.006-.83-.479-1.268-1.255-1.268zM14 4H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V10l-6-6zM9.498 18.19c-.309.29-.765.42-1.296.42a2.23 2.23 0 01-.308-.018v1.426H7v-3.936A7.558 7.558 0 018.219 16c.557 0 .953.106 1.22.319.254.202.426.533.426.923-.001.392-.131.723-.367.948zm3.807 1.355c-.42.349-1.059.515-1.84.515-.468 0-.799-.03-1.024-.06v-3.917A7.947 7.947 0 0111.66 16c.757 0 1.249.136 1.633.426.415.308.675.799.675 1.504 0 .763-.279 1.29-.663 1.615zM17 16.77h-1.532v.911H16.9v.734h-1.432v1.604h-.906V16.03H17v.74zM14 11h-1V6l5 5h-4z");
  }

  .icon-dwg svg {
    width: 24px;
    height: 24px;
    fill: red;
  }

  .icon-dwg path {
    d: path("M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6z M8.955 17.454c-.426.354-1.073.521-1.864.521-.475 0-.81-.03-1.038-.06v-3.971a8.16 8.16 0 011.235-.083c.768 0 1.266.138 1.655.432.42.312.684.81.684 1.522 0 .775-.282 1.309-.672 1.639z M14 9h-1V4l5 5h-4z M7.384 14.563c-.203 0-.335.018-.413.036v2.645c.078.018.204.018.317.018.828.006 1.367-.449 1.367-1.415.006-.84-.485-1.284-1.271-1.284z M13.0924 13.9201 13.8917 13.9201 13.6932 17.9199 12.6248 17.9199 12.2396 16.5906C12.1205 16.1459 11.9982 15.6182 11.8963 15.1545L11.8781 15.1545C11.7987 15.6229 11.685 16.121 11.5734 16.5846L11.2183 17.9199 10.1295 17.9199 9.8978 13.9201 10.6541 13.9201 10.7185 15.4403C10.7452 15.9384 10.7592 16.555 10.7817 17.0957L10.7936 17.0957A17.9697 16.2565 90 0011.1218 15.5352L11.5069 13.9853 12.1474 13.9853 12.5872 15.5459C12.7266 16.0154 12.8779 16.5846 12.9894 17.0957L13.0066 17.0957C13.0066 16.5134 13.0206 15.9313 13.0388 15.451L13.0924 13.9201Z M17.701 17.772A4.512 4.512 0 0116.352 18C15.615 18 15.081 17.814 14.708 17.454 14.337 17.106 14.133 16.579 14.139 15.985 14.145 14.641 15.122 13.874 16.448 13.874 16.969 13.874 17.372 13.977 17.569 14.072L17.378 14.803C17.156 14.707 16.88 14.629 16.437 14.629 15.675 14.629 15.099 15.061 15.099 15.937 15.099 16.77 15.621 17.262 16.37 17.262 16.58 17.262 16.748 17.238 16.82 17.201V16.355H16.196V15.642H17.701V17.772Z")
  }

  .icon-png svg {
    width: 24px;
    height: 24px;
    fill: red;
  }

  .icon-png path {
    d: path("M7.782 16.576c-.186 0-.312.018-.377.036v1.193c.077.018.174.023.306.023.485 0 .785-.246.785-.659 0-.371-.258-.593-.714-.593zM14 4H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V10l-6-6zM9.03 18.105c-.313.293-.774.426-1.313.426-.12 0-.229-.007-.312-.019v1.445h-.906V15.97a7.504 7.504 0 011.235-.083c.563 0 .966.107 1.235.323.258.204.432.54.432.936s-.131.731-.371.959zm4.302 1.853h-.96l-.863-1.56c-.24-.432-.504-.953-.701-1.427l-.019.006c.024.534.036 1.104.036 1.763v1.218h-.84v-4.042h1.067l.84 1.481c.24.426.479.93.659 1.385h.019a14.746 14.746 0 01-.078-1.685v-1.182h.84v4.043zm4.169-.186a4.512 4.512 0 01-1.349.228c-.737 0-1.271-.186-1.644-.546-.371-.348-.575-.875-.569-1.469.006-1.344.983-2.111 2.309-2.111.521 0 .924.103 1.121.198l-.191.731c-.222-.096-.498-.174-.941-.174-.762 0-1.338.432-1.338 1.308 0 .833.522 1.325 1.271 1.325.21 0 .378-.024.45-.061v-.846h-.624v-.713h1.505v2.13zM14 11h-1V6l5 5h-4z")
  }

  .icon-download svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
  
  .icon-download path {
    d: path("m12 20 4-5h-3V8h-2v7H8zM20 22H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z");
  }

  .icon-trash svg {
    width: 24px;
    height: 24px;
    fill: red;
  }

  .icon-trash path {
    d: path("M6 9H5v13a2 2 0 002 2h10a2 2 0 002-2V9H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 4H9L7.382 6H3v2h18V6z");
  }

  .icon-vdots svg {
    width: 24px;
    height: 24px;
    fill: white;
  }

  .icon-vdots path {
    d: path("M12 14c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z");
  }

  .icon-button {
    cursor: pointer;
  }

  .dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    height: max-content;
    text-align: center; 
    background-color: #777;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
  }

  .dialog button {
    background-color: #556acb; 
    width: 30%;
    margin: 10px;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
  }

  .dialog div {
    text-align: center; 
    margin: 5px; 
    font-size: 16px; 
    color: #990a0a;
  }
