/* Reset some basic elements */
body, html, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

/* Home section styles */
.home-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh; /* Ensure it takes full height of the viewport */
}

/* Title styles */
.home-section .text {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Container for files */
.files-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.messages-container {
  display: block;
  padding: 20px;
  align-self: center;
  justify-content: center;
  font-size: 16px;
  color: #990a0a;
}

/* Files container */
.file{
  background-color: rgba(255,255,255, 0.0);
  border-radius: 16px;
  padding: 0;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.file-image {
  fill: #666;
  cursor: pointer;
  filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.1));
  transition: fill 0.3s, filter 0.3s;
}

.file-image path {
  d: path("M55 0a15 15 90 00-15 15v120a15 15 90 0015 15h90a15 15 90 0015-15V45l-45-45H55zm60 52.5h-7.5V15l37.5 37.5h-30z");
}

/* Folder name styles */
.file-name {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 18px;
  cursor: pointer;
  width: 100%;
  height: 40px; /* Ensure height stays consistent */
  display: flex;
  align-items: center;
  position: absolute;
  top: 110px;
  z-index: 2;
}

.file-name input {
  border: none;
  background: #222;
  color: #d1d1d1;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  height: 100%; /* Ensure height stays consistent */
}

/* Add folder button styles */
.add-file {
  /* background-color: #bbb; */
  background-color: rgba(255,255,255, 0.0);
  color: #333;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.add-file-image {
  fill: #bbb;
  filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.1));
  transition: fill 0.3s, box-filter 0.3s;
}

.add-file path {
  d: path("M55 0a15 15 90 00-15 15v120a15 15 90 0015 15h90a15 15 90 0015-15V45l-45-45H55zm60 52.5h-7.5V15l37.5 37.5h-30zM85 122 C76.729 122 70 115.271 70 107 70 100.46 74.827 94.376 81.271 92.45 84.55 84.833 91.732 80 100 80 110.68 80 119.521 88.01 120.832 98.336A12.03 12.03 90 01130 110C130 116.618 124.618 122 118 122H109V116H118C121.309 116 124 113.309 124 110S121.309 104 118 104H115V101C115 92.729 108.271 86 100 86 93.685 86 88.447 89.822 86.338 95.975L85.762 97.649 84.019 97.955C79.597 98.732 76 102.788 76 107 76 111.962 80.038 116 85 116H91V122H85Z M97 122V110H88L100 95 112 110H103V122Z");
}

.add-folder-image:hover {
  fill: #999;
  filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.2));
}

/* Hide input on load */
.file-name input {
  display: none;
}

/* Show input on edit mode */
.file.edit-mode .file-name span {
  display: none;
}

.file.edit-mode .file-name input {
  display: inline-block;
}
