.sidebar .logo-details .logo_name {
  color: #FFA318;
}

.sidebar i {
  color: #FFA318;
}

.sidebar li .tooltip {
  background: #FFA318;
}

.sidebar input {
  color: #FFA318;
}

.sidebar .bx-search {
  color: #FFA318;
}

.sidebar.open .bx-search:hover {
  color: #FFA318;
}

.sidebar .bx-search:hover {
  background: #FFA318;
}

.sidebar li a:hover {
  background: #FFA318;
}

.sidebar li a .links_name {
  color: #FFA318;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  color: #FFA318;
}

.sidebar li.profile a:hover .links_name,
.sidebar li.profile a:hover i {
  color: #FFA318;
}

.home-section {
  background: #FDD69B;
}
