<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> OptiView Tech | About Page </title>
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/rodape.css">
    <link rel="stylesheet" href="css/about.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="images/optiview_grande.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% include "includes/loader.html" %}
    {% with user=user %}
      {% include "includes/sidebar.html" %}
    {% endwith %} 
    <section class="home-section">
      <div class="text">About Us</div>
      <div class="container_header">
        <div class="intro_text">Conheça a OptiView Tech</div>
      </div>
      <div></div>
      <div class="values">
        <h2>Nossos Valores</h2>
        <p class="subtitle">Esses são os valores da OptiView...</p>
        <div class="cards-container">
          <div class="card">
            <div class="card-details">
              <p class="text-title">User Experience</p>
              <p class="text-body">Here are the details of the card</p>
            </div>
            <a href="user_experience.html">
              <button class="card-button">Saber mais</button>
            </a>
          </div>
          <div class="card">
            <div class="card-details">
              <p class="text-title">Technology Innovation</p>
              <p class="text-body">Here are the details of the card</p>
            </div>
            <a href="user_experience.html">
              <button class="card-button">Saber mais</button>
            </a>
          </div>
          <div class="card">
            <div class="card-details">
              <p class="text-title">Creative Development</p>
              <p class="text-body">Here are the details of the card</p>
            </div>
            <a href="user_experience.html">
              <button class="card-button">Saber mais</button>
            </a>
          </div>
          <div class="card">
            <div class="card-details">
              <p class="text-title">Collaboration</p>
              <p class="text-body">Here are the details of the card</p>
            </div>
            <a href="user_experience.html">
              <button class="card-button">Saber mais</button>
            </a>
          </div>
          <div class="card">
            <div class="card-details">
              <p class="text-title">Efficiency</p>
              <p class="text-body">Here are the details of the card</p>
            </div>
            <a href="user_experience.html">
              <button class="card-button">Saber mais</button>
            </a>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </section>
    <script src="js/sidebar.js"></script>
    <script src="js/loader.js"></script>
  </body>
</html>
