<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiView Tech | Cadastro</title>
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="images/optiview_grande.ico">
</head>
<body>
    {% include "includes/loader.html" %}
    <div class="top-bar">
        <a href="home.html" class="logo-link">
            <div class="title">
                <img src="images/logo_white.png" alt="OptiView Tech Logo" class="logo">
                OptiView Tech
            </div>
        </a>
    </div>
    <div class="background-pattern"></div>
    <form id="cadastroForm" action="/user" method="post">
        <h2>Cadastro</h2>
        
        <div class="input-container">
            <input class="{{ input_class }}" type="text" id="nome" name="user" value="{{ user_name }}" required>
            <label for="nome">Nome de Usuário</label>
        </div>
        
        <div class="input-container">
            <input class="{{ input_class }}" type="email" id="email" name="email" value="{{ email }}" required>
            <label for="email">Email</label>
        </div>
        
        <div class="input-container">
            <input class="{{ input_class }}" type="password" id="senha1" name="password1" value="{{ password1 }}" required>
            <label for="senha1">Senha</label>
            <span class="toggle-password" onclick="togglePassword('senha1')">
                <i class='bx bxs-show'></i>
            </span>
        </div>

        <div class="input-container">
            <input class="{{ input_class }}" type="password" id="senha2" name="password2" value="{{ password2 }}" required>
            <label for="senha2">Confirmação senha</label>
            <span class="toggle-password" onclick="togglePassword('senha2')">
                <i class='bx bxs-show'></i>
            </span>
        </div>

        <div class="input-container">
            <input class="{{ input_class }}" type="text" id="telefone" name="phone" value="{{ phone }}" required>
            <label for="telefone">Telefone</label>
        </div>
        
        <input type="submit" value="Cadastrar">

        {% for message in messages %}
            <p class="error-message">{{message}}</p>
        {% endfor %}


        <p class="login-link">Já tem cadastro? <a href="login.html">Entrar</a></p>
    </form>
    <script>
        function togglePassword(id) {
            const passwordField = document.getElementById(id);
            const passwordToggle = document.querySelector('.toggle-password i');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                passwordToggle.classList.remove('bxs-show');
                passwordToggle.classList.add('bxs-hide');
            } else {
                passwordField.type = 'password';
                passwordToggle.classList.remove('bxs-hide');
                passwordToggle.classList.add('bxs-show');
            }
        }

        // Add class 'not-empty' when input is not empty
        document.querySelectorAll('input').forEach(input => {
            input.addEventListener('input', () => {
                if (input.value !== '') {
                    input.classList.add('not-empty');
                } else {
                    input.classList.remove('not-empty');
                }
            });
        });
    </script>
    <script src="js/loader.js"></script>
</body>
</html>
