<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>OptiView Tech | Missão, Visão & Valores</title>
    <link rel="stylesheet" href="css/declaracao_estrategica.css">
    <link rel="stylesheet" href="css/rodape.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="images/optiview_grande.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include "includes/loader.html" %}
    <div class="top-bar">
        <a href="home.html" class="logo-link">
            <div class="title">
                <img src="images/logo_white.png" alt="OptiView Tech Logo" class="logo"> OptiView Tech
            </div>
        </a>
    </div>
    <section class="home-section">
        {% include "includes/footer.html" %}
    </section>
    <script src="js/loader.js"></script>
</body>
</html>
