<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>OptiView Tech | Home Page</title>
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/sidebar_laranja.css">
  <link rel="stylesheet" href="/css/files.css"> <!-- Link para o arquivo CSS do esqueleto -->
  <link rel="stylesheet" href="/css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "includes/loader.html" %}
  {% with user=user %}
    {% include "includes/sidebar.html" %}
  {% endwith %} 

  <section class="home-section">
    <div class="text">Files</div>
    
    <!-- Estrutura de pastas -->
    <div class="header">
      <div class="tab active">Folder 1</div> <!-- Aba selecionada -->
      <div class="tab">Plantas</div>
      <div class="tab">Legendas</div>
    </div>
    
    <!-- Container com espaço superior para o texto -->
    <div class="header-container">
      <!-- Texto superior -->
      <div class="header-text">Folder 1</div>
      <div class="sub-text">OptiView Tech - 54 itens</div>
      <div class="table table-header">
        <div class="col-spacer"></div>
        <div class="col-icon"></div>
        <div class="col-name"></div>
        <div class="col-owner"></div>
        <div class="col-size"></div>
        <div class="col-analize"></div>
        <div class="col-view"></div>
        <div class="col-icon"></div>
        <div class="col-icon"></div>
        <div class="col-icon"></div>
        <div class="col-filler"></div>

        <div class="row">
          <div class="cell cell-header "></div>
          <div class="cell cell-header "></div>
          <div class="cell cell-header ">Nome</div>
          <div class="cell cell-header cell-centered">Proprietário</div>
          <div class="cell cell-header cell-centered">Tamanho</div>
          <div class="cell cell-header "></div>
          <div class="cell cell-header "></div>
          <div class="cell cell-header "></div>
          <div class="cell cell-header "></div>
          <div class="cell cell-header "></div>
          <div class="cell cell-header "></div>
        </div>
      </div>
    </div>
    
    <!-- Container para as linhas -->
    <div class="lines-container">
      <div class="table">
        <div class="col-spacer"></div>
        <div class="col-icon"></div>
        <div class="col-name"></div>
        <div class="col-owner"></div>
        <div class="col-size"></div>
        <div class="col-analize"></div>
        <div class="col-view"></div>
        <div class="col-icon"></div>
        <div class="col-icon"></div>
        <div class="col-icon"></div>
        <div class="col-filler"></div>

        <div class="row">
          <div class="cell"></div>
          <div class="cell cell-icon icon-pdf">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell">Arquivo.pdf</div>
          <div class="cell cell-centered">agranero</div>
          <div class="cell cell-centered">1Mb</div>
          <div class="cell">
            <button class="button-not-processed">Analizar planta</button>
          </div>
          <div class="cell">
            <button class="button-not-processed">Visualizar</button>
          </div>
          <div class="cell cell-icon icon-download icon-button">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell cell-icon icon-trash icon-button">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell cell-icon icon-vdots icon-button">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell"></div>
        </div>
        
        <div class="row">
          <div class="cell"></div>
          <div class="cell cell-icon icon-pdf">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell">Arquivo.pdf</div>
          <div class="cell cell-centered">agranero</div>
          <div class="cell cell-centered">1Mb</div>
          <div class="cell">
            <button class="button-processed">Analisada</button>
          </div>
          <div class="cell">
            <button class="button-processed">Vis. detalhada</button>
          </div>
          <div class="cell cell-icon icon-download icon-button">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell cell-icon icon-trash icon-button">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell cell-icon icon-vdots icon-button">
            <svg>
              <path></path>
            </svg>
          </div>
          <div class="cell"></div>
        </div>

      </div>
    </div>
  </section>

  {% include "includes/footer.html" %}
  
  <script src="js/sidebar.js"></script>
  <script src="js/loader.js"></script>
  <script src="js/files.js"></script> <!-- Gerencia comportamento das abas -->
</body>
</html>
