<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>OptiView Tech | Arquivos processados</title>
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/sidebar_laranja.css">
  <link rel="stylesheet" href="/css/files_processed.css">
  <link rel="stylesheet" href="/css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "/includes/loader.html" %}
  {% with user=user %}
    {% include "/includes/sidebar.html" %}
  {% endwith %}
  <section class="home-section">

    <div class="main-container">

      <!-- Container com espaço superior para o texto -->
      <div class="header-container">
        <!-- Texto superior -->
        <div class="header-text">Arquivo {{ file_name }}</div>
        <div class="sub-text">
          {% if images|length < 2 %}
            <span class="page-count">{{ images|length }} item</span>
          {% else %}
            <span class="page-count"> {{ images|length }} itens</span>
            <svg class="icon-previous"><path></path></svg>
            <span class="page-counter">1</span>
            <svg class="icon-next"><path></path></svg>

          {% endif %}
          <span class="page-type-name"></span>
          <span class="page-name"></span>
          <span class="page-size"></span>
        </div>
      </div>

      <!-- Container para as imagens -->
      <div>
        {% for image in images %}
          {% if (image_uuid is none and image['index'] == 0) or (image_uuid is not none and image_uuid == image['uuid']) %}
            {% set visibility_class = 'image-container-visible'%}
          {% else %}
            {% set visibility_class =  'image-container-invisible'%}
          {% endif %}
          <div id="{{ image['uuid'] }}" 
                class="image-container {{ visibility_class }}"
                data-type-name="{{ image['type_name'] }}"
                data-name="{{ image['name'] }}"
                data-size="{{ image['size'] }}"
                data-owner="{{ image['owner'] }}"
          >
            <img current_zoom="0.95" src="/image/{{ image['uuid'] }}">
          </div>
        {% endfor %}
      </div>

      <!-- Container para os resultados -->
      <div class="results-container">
        {% for group_title, results in result_group.items() %}
          <details open>
            <summary>{{ group_title }}</summary>
            <div class="results">
              {% for result in results %}
                <details>
                  <summary>{{ result['code'] }}</summary>
                  <div>
                    <img class="results-anchor" src="data:image/jpeg;base64, {{ result['image_plan'] | safe }}"> 
                  </div>
                </details>                
              {% endfor %}
            </div>
          </details>
        {% endfor %}
      </div>

      <!-- Containers das caixas de diálogo -->
      <dialog class="dialog dialog-error">
        <div>Curta.</div>
        <form method="dialog">
          <button class="button-ok" value="default">Ok</button>
        </form>
      </dialog>

    </div>

  </section>

  {% include "includes/footer.html" %}
  <script src="/js/sidebar.js"></script>
  <script src="/js/loader.js"></script>
  <script>
    function show_error(message) {
      dialog_error = document.querySelector('.dialog-error');
      document.querySelector('.dialog-error div').innerHTML = message
      dialog_error.showModal();
    }

    function set_page_counter() {
      image_container_visible = document.querySelector('.image-container-visible')
      index = Array.from(image_container_visible.parentNode.children).indexOf(image_container_visible)
      page_counter = document.querySelector('.page-counter').textContent = index + 1

      document.querySelector('.page-type-name').textContent = image_container_visible.getAttribute('data-type-name')
      document.querySelector('.page-name').textContent = image_container_visible.getAttribute('data-name')
      document.querySelector('.page-size').textContent = image_container_visible.getAttribute('data-size')
    }

    // Event listener adding functions ...

    // ... add click event to icon-next
    function iconNextAddEventListener(element) {
      element.addEventListener('click', function(e) {
        image_container_visible = document.querySelector('.image-container-visible')
        image_container_next = image_container_visible.nextElementSibling

        if (image_container_next != null) {
          image_container_visible.className = "image-container image-container-invisible"
          image_container_next.className = "image-container image-container-visible"
          set_page_counter()
        }
      });
    }

    // ... add click event to icon-previous
    function iconPreviousAddEventListener(element) {
      element.addEventListener('click', function(e) {
        image_container_visible = document.querySelector('.image-container-visible')
        image_container_previous = image_container_visible.previousElementSibling

        if (image_container_previous != null) {
          image_container_visible.className = "image-container image-container-invisible"
          image_container_previous.className = "image-container image-container-visible"
          set_page_counter()
        }
      });
    }

    function imageZoomIn(element) {
      element.addEventListener('click', function(e) {
        el = e.target
        currentZoom = element.getAttribute('current_zoom')
        currentZoom = Number(currentZoom) + 0.25
        element.setAttribute('current_zoom', currentZoom)

        el.style.transform = "scale(" + currentZoom + ") translate3d(0px,0px,1px)"

        // seting top left the scroolbars cam roll to top and left after scaling ...
        el.style.transformOrigin = 'top left'
        // ... as this is annoying moves scrollbars to center
        scrollElement = el.parentNode;
        scrollElement.scrollLeft =  (scrollElement.scrollWidth - scrollElement.clientWidth ) / 2;
        scrollElement.scrollTop =  (scrollElement.scrollHeight - scrollElement.clientHeight ) / 2;
      });
    }

    function imageZoomOut(element) {
      element.addEventListener('contextmenu', function(e) {
        e.preventDefault()
        el = e.target
        currentZoom = element.getAttribute('current_zoom')
        if (currentZoom > 1) {
          currentZoom = currentZoom - 0.25
          element.setAttribute('current_zoom', currentZoom)
        }
        e.target.style.transform = "scale(" + currentZoom + ") translate3d(0px,0px,1px)"
        
         // seting top left the scroolbars cam roll to top and left after scaling ...
        el.style.transformOrigin = 'top left'
        // ... as this is annoying moves scrollbars to center
        scrollElement = el.parentNode;
        scrollElement.scrollLeft =  (scrollElement.scrollWidth - scrollElement.clientWidth ) / 2;
        scrollElement.scrollTop =  (scrollElement.scrollHeight -    scrollElement.clientHeight ) / 2;
      });
    }

    
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // sets the correct page in case the pages was called to show an specific image
      set_page_counter()

      // Add event listeners ...

      // ... add event listener to icon-next
      iconNextAddEventListener(document.querySelector('.icon-next'))

      // ... add event listener to icon-previous
      iconPreviousAddEventListener(document.querySelector('.icon-previous'))

      // ... add event listener to image container
      imageZoomIn(document.querySelector('.image-container img'))

      // ... add event listener to image container
      imageZoomOut(document.querySelector('.image-container img'))
    });
  </script>
</body>
</html>