<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>OptiView Tech | Home Page</title>
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/sidebar_laranja.css">
  <link rel="stylesheet" href="/css/folder.css">
  <link rel="stylesheet" href="/css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "/includes/loader.html" %}
  {% with user=user %}
    {% include "/includes/sidebar.html" %}
  {% endwith %}
  <section class="home-section">
    {% if folder != None %}
        <div class="text">Projeto {{ folder.name }} </div>
    {% else %}
        <div class="text">Projeto</div>
    {% endif %}
    <div class="files-container">
        {% if folder != None %}
            {% for file in folder.files %}
            <div class="file">
                <div id='{{ file.uuid}}' class="file-name">
                <span>{{ file.name }}</span>
                <input type="text" placeholder="{{ file.name }}">
                </div>
            </div>
            {% endfor %}
        {% endif %}
      <div class="add-file">
        <svg class="add-file-image">
          <!-- <path d="M103 96v-12h9l-12-15-12 15h9v12zM85 96h6v-6H85c-4.962 0-9-4.038-9-9 0-4.212 3.597-8.268 8.019-9.045l1.743-.306.576-1.674C88.447 63.822 93.685 60 100 60c8.271 0 15 6.729 15 15v3h3c3.309 0 6 2.691 6 6s-2.691 6-6 6h-9v6h9c6.618 0 12-5.382 12-12a12.03 12.03 90 00-9.168-11.664C119.521 62.01 110.68 54 100 54 91.732 54 84.55 58.833 81.271 66.45 74.827 68.376 70 74.46 70 81c0 8.271 6.729 15 15 15zM85 96h6v-6H85c-4.962 0-9-4.038-9-9 0-4.212 3.597-8.268 8.019-9.045l1.743-.306.576-1.674C88.447 63.822 93.685 60 100 60c8.271 0 15 6.729 15 15v3h3c3.309 0 6 2.691 6 6s-2.691 6-6 6h-9v6h9c6.618 0 12-5.382 12-12a12.03 12.03 90 00-9.168-11.664C119.521 62.01 110.68 54 100 54 91.732 54 84.55 58.833 81.271 66.45 74.827 68.376 70 74.46 70 81c0 8.271 6.729 15 15 15z"> -->
          <path d="M55 0a15 15 90 00-15 15v120a15 15 90 0015 15h90a15 15 90 0015-15V45l-45-45H55zm60 52.5h-7.5V15l37.5 37.5h-30zM85 122
          C76.729 122 70 115.271 70 107 70 100.46 74.827 94.376 81.271 92.45 84.55 84.833 91.732 80 100 80 110.68 80 119.521 88.01 120.832 98.336A12.03 12.03 90 01130 110C130 116.618 124.618 122 118 122H109V116H118C121.309 116 124 113.309 124 110S121.309 104 118 104H115V101C115 92.729 108.271 86 100 86 93.685 86 88.447 89.822 86.338 95.975L85.762 97.649 84.019 97.955C79.597 98.732 76 102.788 76 107 76 111.962 80.038 116 85 116H91V122H85Z
          M97 122V110H88L100 95 112 110H103V122Z"></path>
        </svg>
      </div>
    </div>
    <div class="messages-container">{{ message }}</div>
  </section>
  {% include "includes/footer.html" %}
  <script src="/js/sidebar.js"></script>
  <script src="/js/loader.js"></script>
  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Add event listener to each file name
      document.querySelectorAll('.file-name').forEach(function(fileName) {
        fileName.addEventListener('click', function() {
          const file = this.closest('.file');
          file.classList.add('edit-mode');
          const input = file.querySelector('input');
          input.value = this.querySelector('span').innerText.trim();
          input.focus();
        });
      });

      // Add event listener to file name input fields
      document.querySelectorAll('.file-name input').forEach(function(input) {
        input.addEventListener('blur', function() {
          const file = this.closest('.file');
          file.classList.remove('edit-mode');
          const span = file.querySelector('span');
          span.innerText = this.value.trim();
        });

        input.addEventListener('keypress', function(e) {
          if (e.key === 'Enter') {
            rename_file(this.value, this.parentNode.id)
            this.blur();
          }
        });
      });

      // Add new file functionality
      document.querySelector('.add-file').addEventListener('click', create_ffile)

      // create file on server
      function create_file() {
        fetch("/create_file")
        .then((response) => response.json())
        .then((json) =>  create_file_ui(document.querySelector('.add-file'), json))
        .catch((error) => create_file_ui(null, {status: 'Error', message: 'Falha na comunicação com o servidor'}));
      }

      function create_file_ui(parent, json) {
        if (json.status == 'Ok') {
          const newFile = document.createElement('div');
          newFile.classList.add('file');
          newFile.innerHTML = `
            <div id="` + json.uuid + `" class="file-name">
              <span>` + json.name + `</span>
              <input type="text" placeholder="` + json.name + `">
            </div>
          `;
          document.querySelector('.files-container').insertBefore(newFile, parent);

          // Reattach event listeners for the new file
          newFile.querySelector('.file-name').addEventListener('click', function() {
            const file = this.closest('.file');
            file.classList.add('edit-mode');
            const input = file.querySelector('input');
            input.value = this.querySelector('span').innerText.trim();
            input.focus();
          });

          newFile.querySelector('.file-name input').addEventListener('blur', function() {
            const file = this.closest('.file');
            file.classList.remove('edit-mode');
            const span = file.querySelector('span');
            span.innerText = this.value.trim();
          });

          newFile.querySelector('.file-name input').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
              rename_file(this.value, this.parentNode.id)
              this.blur();
            }
          });
        }
        else {
          document.querySelector('.messages-container').innerHTML = json.message
        }

      };
      
      // rename file on server
      function rename_file(name, uuid) {
        var url = new URL("/rename_file", window.location.href)
        var params = {name: name, uuid: uuid}
        url.search = new URLSearchParams(params).toString();
        fetch(url)
        .then((response) => response.json())
        .then((json) => rename_file(json))
        .catch((error) => rename_file({status: 'Error', message: 'Falha na comunicação com o servidor'}));
      }

      function rename_file_ui(json) {
        document.querySelector('.messages-container').innerHTML = json.message;
        if (json.status != 'Ok') {
          div = document.getElementById(json.uuid);
          if (div != null) {
            document.getElementById(json.uuid).querySelector('input').placeholder = json.name;
            document.getElementById(json.uuid).querySelector('span').innerText = json.name;
          }
        }
      }

    });
  </script> -->
</body>
</html>

