<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>OptiView Tech | Projetos</title>
  <link rel="stylesheet" href="/css/loader.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/sidebar_laranja.css">
  <link rel="stylesheet" href="/css/folder.css">
  <link rel="stylesheet" href="/css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "/includes/loader.html" %}
  {% with user=user %}
    {% include "/includes/sidebar.html" %}
  {% endwith %}
  <section class="home-section">

    <div class="main-container">
      <!-- Estrutura de pastas -->
      <div class="header">
        <div id="files" class="tab active">Arquivos</div>
        <div id="plans" class="tab">Plantas</div>
        <div id="legends" class="tab">Legendas</div>
      </div>
      
      <!-- Container com espaço superior para o texto -->
      <div class="header-container">
        <!-- Texto superior -->
        <div class="button-add">
          <input class="add-file-input" type="file" accept=".pdf, .dwg" id="file" name="file"/>
          <svg>
            <path></path>
          </svg>
        </div>
        {% if folder != None %}
          <div class="header-text">Projeto {{ folder.name }}</div>
        {% else %}
          <div class="header-text">Projeto</div>
        {% endif %}
        <div class="sub-text">{{ folder.files|length }} itens</div>
        <div class="table table-header">
          <div class="col-spacer"></div>
          <div class="col-icon"></div>
          <div class="col-name"></div>
          <div class="col-owner"></div>
          <div class="col-size"></div>
          <div class="col-analize"></div>
          <div class="col-view"></div>
          <div class="col-icon"></div>
          <div class="col-icon"></div>
          <div class="col-icon"></div>
          <div class="col-filler"></div>

          <div class="row">
            <div class="cell cell-header "></div>
            <div class="cell cell-header "></div>
            <div class="cell cell-header ">Nome</div>
            <div class="cell cell-header cell-centered">Proprietário</div>
            <div class="cell cell-header cell-centered">Tamanho</div>
            <div class="cell cell-header "></div>
            <div class="cell cell-header "></div>
            <div class="cell cell-header "></div>
            <div class="cell cell-header "></div>
            <div class="cell cell-header "></div>
            <div class="cell cell-header "></div>
          </div>
        </div>
      </div>
      
      <!-- Container para as linhas arquivos-->
      <div id="{{ folder.uuid }}" class="lines-container files visible">
        <div class="table table-lines">
          <div class="col-spacer"></div>
          <div class="col-icon"></div>
          <div class="col-name"></div>
          <div class="col-owner"></div>
          <div class="col-size"></div>
          <div class="col-analize"></div>
          <div class="col-view"></div>
          <div class="col-icon"></div>
          <div class="col-icon"></div>
          <div class="col-icon"></div>
          <div class="col-filler"></div>

          {% if folder != None %}
            {% for file in folder.files %}
              <div id="{{ file.uuid }}" class="row">
                <div class="cell"></div>
                {% if (file.name|lower).endswith('.pdf') %}
                <div class="cell cell-icon icon-pdf">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                {% else %}
                <div class="cell cell-icon icon-dwg">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                {% endif %}

                <div class="cell file-name">{{ file.name }}</div>
                <div class="cell cell-centered">{{ file.user.user_name }}</div>
                <div class="cell cell-centered">{{ file.file_size }}</div>
                <div class="cell">
                  {% if file.files_processed|selectattr("processed_type_id", "ne", 1)|list|length == 0%}
                    <button class="button-not-processed button-analize">Analizar planta</button>
                  {% else %}
                    <button class="button-processed button-analized" disabled>Analisada</button>
                  {% endif %}
                </div>
                <div class="cell">
                  {% if file.files_processed|selectattr("processed_type_id", "ne", 1)|list|length == 0%}
                    <button class="button-not-processed button-view">Visualizar</button>
                  {% else %}
                    <button class="button-processed button-view">Vis. Detalhada</button>
                  {% endif %}
                </div>
                <div class="cell cell-icon icon-download icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell cell-icon icon-trash icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell cell-icon icon-vdots icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell"></div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      
      <!-- Container para as linhas legendas-->
      <div id="{{ folder.uuid }}" class="lines-container legends hidden">
        <div class="table table-lines">
          <div class="col-spacer"></div>
          <div class="col-icon"></div>
          <div class="col-name"></div>
          <div class="col-owner"></div>
          <div class="col-size"></div>
          <div class="col-view"></div>
          <div class="col-icon"></div>
          <div class="col-icon"></div>
          <div class="col-filler"></div>

          {% if folder != None %}
            {% for file in folder.files_processed|selectattr("processed_type_id", "eq", 3)%}
              <div id="{{ file.uuid }}" class="row">
                <div class="cell"></div>
                <div class="cell cell-icon icon-png">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell file-name">{{ file.name }}</div>
                <div class="cell cell-centered">{{ file.user.user_name }}</div>
                <div class="cell cell-centered">{{ file.file_size }}</div>
                <div class="cell">
                    <button class="button-not-processed button-view">Visualizar</button>
                </div>
                <div class="cell cell-icon icon-download icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell cell-icon icon-vdots icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell"></div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <!-- Container para as linhas plantas-->
      <div id="{{ folder.uuid }}" class="lines-container plans hidden">
        <div class="table table-lines">
          <div class="col-spacer"></div>
          <div class="col-icon"></div>
          <div class="col-name"></div>
          <div class="col-owner"></div>
          <div class="col-size"></div>
          <div class="col-view"></div>
          <div class="col-icon"></div>
          <div class="col-icon"></div>
          <div class="col-filler"></div>

          {% if folder != None %}
            {% for file in folder.files_processed|selectattr("processed_type_id", "eq", 2)%}
              <div id="{{ file.uuid }}" class="row">
                <div class="cell"></div>
                <div class="cell cell-icon icon-png">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell file-name">{{ file.name }}</div>
                <div class="cell cell-centered">{{ file.user.user_name }}</div>
                <div class="cell cell-centered">{{ file.file_size }}</div>
                <div class="cell">
                    <button class="button-not-processed button-view">Visualizar</button>
                </div>
                <div class="cell cell-icon icon-download icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell cell-icon icon-vdots icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell"></div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <!-- Containers das caixas de diálogo -->
      <dialog class="dialog dialog-error">
        <div>Curta.</div>
        <form method="dialog">
          <button class="button-ok" value="default">Ok</button>
        </form>
      </dialog>

      <dialog class="dialog dialog-confirm-cancel">
        <div>Curta.</div>
        <form method="dialog">
          <button class="button-confirm" value="default">Confirmar</button>
          <button class="button-cancel" value="cancel">Cancela</button>
        </form>
      </dialog>

    </div>

  </section>

  {% include "includes/footer.html" %}
  <script src="/js/sidebar.js"></script>
  <script src="/js/folder.js"></script>
  <script src="/js/loader.js"></script>
  <script>
    function show_error(message) {
      dialog_error = document.querySelector('.dialog-error');
      document.querySelector('.dialog-error div').innerHTML = message
      dialog_error.showModal();
    }

    function show_confirm_cancel(message) {
      dialog_error = document.querySelector('.dialog-confirm-cancel');
      document.querySelector('.dialog-confirm-cancel div').innerHTML = message
      dialog_error.showModal();
    }

    // Event listener adding functions ...

    // ... add click event handler to download icon
    function iconDownloadAddEventListener(element) {
      element.addEventListener('click', function(e) {
        line = this.parentNode.parentNode

        file_uuid = line.id;
        file_name = line.querySelector('.file-name').innerHTML;

        container_class_list = e.target.closest('.lines-container').classList
        if (container_class_list.contains('files')) {
          endpoint = '/file/'
        }
        else {
          endpoint = '/image/'
        }

        // call download endpoint
        fetch(endpoint + file_uuid)
        .then(response => {
          if(response.status < 300)
            return response.blob();
          else
            throw(response.status + ' ' + response.statusText);
        })
        .then(blob => {
          // create invisible link
          link = document.createElement('a');
          link.className = "download";
          link.setAttribute('href', URL.createObjectURL(blob));
          link.setAttribute('download', file_name);
          this.parentNode.appendChild(link);
          // call click event of invisble link to start download
          link.click();
          // remove link
          this.parentNode.removeChild(link);
        })
        .catch((err) => {show_error('Erro comunicação com o servidor: <br>"' + err +'"')})
        
      });
    }

    // ... add click event handler to delete icon
    function iconDeleteAddEventListener(element) {
      element.addEventListener('click', function(e) {
        line = this.parentNode.parentNode

        file_uuid = line.id;
        file_name = line.querySelector('.file-name').innerHTML;
        document.querySelector('.dialog-confirm-cancel').line = file_uuid;
        show_confirm_cancel('Confirmar a remoção do arquivo <br>' + file_name + '.<br>Os arquivos processados originados <br>dele serão removidos.')
      });
    }
  
    // ... add click event to button-view
    function buttonViewClickAddEventListener(element) {
      element.addEventListener('click', function(e) {
        line = this.parentNode.parentNode
        file_uuid = line.id;

        // test if file exists and can be processed before moving to new page
        fetch('/validate_file_for_process/' + file_uuid)
        .then(response => {
          if(response.status < 300)
            return response.json();
          else
            throw(response.status + ' ' + response.statusText);
        })
        .then(json => {
          if (json.status == 'Ok') {
            // create invisible link
            link = document.createElement('a');
            link.setAttribute('href', '/files_processed/' + file_uuid);
            this.parentNode.appendChild(link);
            // call click event of invisble link to start download
            link.click();
            // remove link
            this.parentNode.removeChild(link);
          }
          else {
            show_error(json.message)
          }
        })
        .catch((err) => {show_error('Erro comunicação com o servidor: <br>"' + err +'"')})
      });
    }

    // ... add click event to button-analize
    function buttonAnalizeClickAddEventListener(element) {
      element.addEventListener('click', function(e) {
        line = this.parentNode.parentNode
        file_uuid = line.id;

        this.setAttribute('disabled', true);
        this.classList.remove('button-not-processed')
        this.classList.add('button-processing')
        this.innerText = 'Analisando...'

        // call file_process endpoint
        fetch('/file_process/' + file_uuid)
        .then(response => {
          if(response.status < 300)
            return response.json();
          else
            throw(response.status + ' ' + response.statusText);
        })
        .then(json => {
          if (json.status == 'Ok') {
            this.classList.remove('button-processing')
            this.classList.add('button-processed')
            this.classList.remove('button-analize')
            this.classList.add('button-analized')
            this.innerText = 'Analisada'

            div_processed = this.parentNode
            button_view = div_processed.parentNode.querySelector('.button-view')
            button_view.classList.remove('button-not-processed')
            button_view.classList.add('button-processed')
            button_view.innerText = 'Vis. Detalhada'
          }
          else {
            show_error(json.message)
          }
        })
        .catch((err) => {
          this.removeAttribute('disabled');
          this.classList.remove('button-processing')
          this.classList.add('button-not-processed')
          this.innerText = 'Analisar planta'

          show_error('Erro comunicação com o servidor: <br>"' + err +'"')
        })
      });
    }

    // ... add close event to dialog-confirm-cancel
    function dialogConfirmCancelAddEventListener(element) {
      element.addEventListener('close', function(e) {
        dialog_confirm_cancel = document.querySelector('.dialog-confirm-cancel');
        if (dialog_confirm_cancel.returnValue == 'default') {
          file_uuid = element.line;
          line = document.getElementById(file_uuid)
          file_name = line.querySelector('.file-name').innerHTML;

          // call delete endpoint
          fetch('/delete_file/' + file_uuid)
          .then(response => {
            if(response.status < 300)
              return response;
            else
              throw(response.status + ' ' + response.statusText);
          })
          .then(response => {
            // remove line
            line.remove();

          })
          .catch((err) => {show_error('Erro comunicação com o servidor: <br>"' + err +'"')})
        }
      });
    }
    
    // Create file functions ...

    // ... call create_file endpoint
    function create_file() {
      var folder_uuid = document.querySelector('.lines-container').id
      var file = document.querySelector('.add-file-input').files[0]
      var data = new FormData()
      data.append('folder_uuid', folder_uuid)
      data.append('file', file)

      fetch(
        '/create_file',
        {
          method: 'POST',
          body: data,
        }
      )
      .then((response) => response.json())
      .then((json) =>  create_file_ui(document.querySelector('.add-file'), json))
      .catch((error) => create_file_ui(null, {status: 'Error', message: 'Falha na comunicação com o servidor'}));
    }
    // ... create file line on page
    function create_file_ui(parent, json) {
      if (json.status == 'Ok') {
        const newFile = document.createElement('div');
        newFile.classList.add('row');
        newFile.setAttribute("id", json.uuid);
        extension = json.name.slice(-3).toLowerCase()
        newFile.innerHTML = `
                <div class="cell"></div>
                <div class="cell cell-icon icon-` + extension + `">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell file-name">` + json.name + `</div>
                <div class="cell cell-centered">` + json.owner + `</div>
                <div class="cell cell-centered">` + json.size + `</div>
                <div class="cell">
                  <button class="button-not-processed button-analize">Analizar planta</button>
                </div>
                <div class="cell">
                  <button class="button-not-processed button-view">Visualizar</button>
                </div>
                <div class="cell cell-icon icon-download icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell cell-icon icon-trash icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell cell-icon icon-vdots icon-button">
                  <svg>
                    <path></path>
                  </svg>
                </div>
                <div class="cell"></div>
        `;
        document.querySelector('.files .table-lines').insertBefore(newFile, null);

        // add download event to download icon
        iconDownloadAddEventListener(newFile.querySelector('.icon-download svg'));
        // add delete event to delete icon
        iconDeleteAddEventListener(newFile.querySelector('.icon-trash svg'))
        // add event to button-view
        buttonViewClickAddEventListener(newFile.querySelector('.button-view'))
        // add event to button-analize
        buttonAnalizeClickAddEventListener(newFile.querySelector('.button-analize'))
      }
      else {
        show_error(json.message)
      }
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Add event listeners ...

      // ... add event listener for download
      document.querySelectorAll('.icon-download svg').forEach(function(el) {
        iconDownloadAddEventListener(el);
      })

      // ... add event listener to delete
      document.querySelectorAll('.icon-trash svg').forEach(function(el) {
        iconDeleteAddEventListener(el);
      })

      // ... add event listener to button-view
      document.querySelectorAll('.button-view').forEach(function(el) {
        buttonViewClickAddEventListener(el)
      })

      // ... add event listener to button-analize
      document.querySelectorAll('.button-analize').forEach(function(el) {
        buttonAnalizeClickAddEventListener(el)
      })

      // ... add event listener to dialog-confirm-cancel
      dialogConfirmCancelAddEventListener(document.querySelector('.dialog-confirm-cancel'))

      // Add new file button functionality ...
      // ... clicking button is the same as prresssing browse on invisible control
      document.querySelector('.button-add').addEventListener('click', function(e) {
        document.querySelector('.add-file-input').click();
      });

      // ... call endpoint when input content changes aka file is chosen
      document.querySelector('.add-file-input').addEventListener('change', create_file); 
    });
  </script>
</body>
</html>