<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>OptiView Tech | Home Page</title>
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" href="images/optiview_grande.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "includes/sidebar.html" %}
  <section class="home-section">
    <div class="top-buttons">
      <a href="login.html">
        <button class="login-btn">Login</button>
      </a>
      <a href="cadastro.html">
        <button class="signup-btn">Cadastro</button>
      </a>
    </div>
    <div class="text">Home</div>
    <div class="carousel">
      <div class="carousel-container">
        <div class="carousel-slide active">
          <a href="about.html">
            <img src="images/slide1.avif" alt="Slide 1">
            <div class="carousel-caption">About Us</div>
          </a>
        </div>
        <div class="carousel-slide active">
          <a href="myplantai.html">
            <img src="images/slide2.jpg" alt="Slide 2">
            <div class="carousel-caption">MyPlanAI</div>
          </a>
        </div>
        <div class="carousel-slide active">
          <a href="myplantai.html">
            <img src="images/MyPlanAI_off.png" alt="Slide 3">
            <div class="carousel-caption">Services</div>
          </a>
        </div>
      </div>
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
      <div class="carousel-indicators">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
    <div class="new-section">
      <div class="left">
        <h2>Introducing MyPlanAI</h2>
        <p>Explore the amazing features of Sora. Discover how it can transform your experience with its advanced technology and intuitive design. Join us on this journey and see the future unfold.</p>
      </div>
      <div class="right">
        <video controls autoplay muted>
          <source src="videos/20230930_121610.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </section>
  <script src="js/sidebar.js"></script>
  <script src="js/slides.js"></script>
</body>
</html>
