<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>OptiView Tech | Home Page</title>
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/sidebar_laranja.css">
  <link rel="stylesheet" href="css/myplanai.css">
  <link rel="stylesheet" href="css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" href="images/optiview_grande.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "includes/loader.html" %}
  {% with user=user %}
    {% include "includes/sidebar.html" %}
  {% endwith %}
  <section class="home-section">
    <div class="text">MyPlanAI</div>
    <div class="folders-container">
      {% for folder in user.folders %}
        <div id='{{ folder.uuid}}' class="folder">
          <svg class="folder-image">
            <path d="M180 16.6667h-95.86L67.07 2.4417A9.97 8.3083 0 0060 0H20c-11.03 0-20 7.475-20 16.6667v116.6667c0 9.1917 8.97 16.6667 20 16.6667h160c11.03 0 20-7.475 20-16.6667V33.3333c0-9.1917-8.97-16.6667-20-16.6667z"></path>
          </svg>       
          <div id='{{ folder.uuid}}' class="folder-name">
            <span>{{ folder.name }}</span>
            <input type="text" placeholder="{{ folder.name }}">
          </div>
        </div>
      {% endfor %}
      <div class="add-folder" style="background-color: rgba(255,255,255, 0.0);">
        <svg class="add-folder-image">
          <path d="M180 16.6667h-95.86L67.07 2.4417A9.97 8.3083 0 0060 0H20c-11.03 0-20 7.475-20 16.6667v116.6667c0 9.1917 8.97 16.6667 20 16.6667h160c11.03 0 20-7.475 20-16.6667V33.3333c0-9.1917-8.97-16.6667-20-16.6667zm-40 75h-30v25h-20v-25H60v-16.6667h30V50h20v25h30v16.6667z"></path>
        </svg>       
      </div>
    </div>
    <div class="messages-container"></div>
  </section>
  {% include "includes/footer.html" %}
  <script src="js/sidebar.js"></script>
  <script src="js/loader.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Add event listener to each folder name
      document.querySelectorAll('.folder-name').forEach(function(folderName) {
        folderName.addEventListener('click', function() {
          const folder = this.closest('.folder');
          folder.classList.add('edit-mode');
          const input = folder.querySelector('input');
          input.value = this.querySelector('span').innerText.trim();
          input.focus();
        });
      });

      // Add event listener to folder name input fields
      document.querySelectorAll('.folder-name input').forEach(function(input) {
        input.addEventListener('blur', function() {
          const folder = this.closest('.folder');
          folder.classList.remove('edit-mode');
          const span = folder.querySelector('span');
          span.innerText = this.value.trim();
        });

        input.addEventListener('keypress', function(e) {
          if (e.key === 'Enter') {
            rename_folder(this.value, this.parentNode.parentNode.id)
            this.blur();
          }
        });
      });

      // Add link functionality
      document.querySelectorAll('.folder-image').forEach(function(folder_image) {
          folder_image.addEventListener('click', function() {
          window.location.href = '/folder/' + folder_image.parentNode.id
        });
      });

      // Add new folder functionality
      document.querySelector('.add-folder').addEventListener('click', create_folder)

      // create folder on server
      function create_folder() {
        fetch("/create_folder")
        .then((response) => response.json())
        .then((json) =>  create_folder_ui(document.querySelector('.add-folder'), json))
        .catch((error) => create_folder_ui(null, {status: 'Error', message: 'Falha na comunicação com o servidor'}));
      }

      function create_folder_ui(parent, json) {
        if (json.status == 'Ok') {
          const newFolder = document.createElement('div');
          newFolder.setAttribute("id", json.uuid);
          newFolder.classList.add('folder');
          newFolder.innerHTML = `
            <div class="folder-name">
              <span>` + json.name + `</span>
              <input type="text" placeholder="` + json.name + `">
            </div>
          `;
          document.querySelector('.folders-container').insertBefore(newFolder, parent);

          // Reattach event listeners for the new folder
          newFolder.querySelector('.folder-name').addEventListener('click', function() {
            const folder = this.closest('.folder');
            folder.classList.add('edit-mode');
            const input = folder.querySelector('input');
            input.value = this.querySelector('span').innerText.trim();
            input.focus();
          });

          newFolder.querySelector('.folder-name input').addEventListener('blur', function() {
            const folder = this.closest('.folder');
            folder.classList.remove('edit-mode');
            const span = folder.querySelector('span');
            span.innerText = this.value.trim();
          });

          newFolder.querySelector('.folder-name input').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
              rename_folder(this.value, this.parentNode.parentNode.id)
              this.blur();
            }
            
          });

          newFolder.querySelector('.folder-image').addEventListener('click', function() {
            window.location.href = '/folder/' + this.id;
          });

        }
        else {
          document.querySelector('.messages-container').innerHTML = json.message
        }

      };
      
      // rename folder on server
      function rename_folder(name, uuid) {
        var url = new URL("/rename_folder", window.location.href)
        var params = {name: name, uuid: uuid}
        url.search = new URLSearchParams(params).toString();
        fetch(url)
        .then((response) => response.json())
        .then((json) => rename_folder_ui(json))
        .catch((error) => rename_folder_ui({status: 'Error', message: 'Falha na comunicação com o servidor'}));
      }

      function rename_folder_ui(json) {
        document.querySelector('.messages-container').innerHTML = json.message;
        if (json.status != 'Ok') {
          div = document.getElementById(json.uuid);
          if (div != null) {
            document.getElementById(json.uuid).querySelector('input').placeholder = json.name;
            document.getElementById(json.uuid).querySelector('span').innerText = json.name;
          }
        }
      }

    });
  </script>
</body>
</html>
