<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> OptiView Tech | Services Page </title>
  <link rel="stylesheet" href="css/sidebar.css">
  <link rel="stylesheet" href="css/services.css">
  <link rel="stylesheet" href="css/rodape.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" href="images/optiview_grande.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include "includes/sidebar.html" %}
  <section class="home-section">
    <div class="text">Services</div>
    <div class="search-container">
      <input type="text" placeholder="Pesquisar">
      <div class="search-icon">
        <i class='bx bx-search'></i>
      </div>
    </div>
    <p>Use e teste nossos serviços com Inteligência Artificial</p>
    <a class='services' href="myplantai.html">
      <div class="card">
        <div class="image-box">
          <img src="images/myplantai_services.avif">
        </div>
        <div class="content">
          <h2>MyPlantAI</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti porro quis.</p>
        </div>
      </div>
    </a>
    <a class='services' href="myplantai.html">
      <div class="card">
        <div class="image-box">
          <img src="images/golden_teste.jpg">
        </div>
        <div class="content">
          <h2>Teste1</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti porro quis.</p>
        </div>
      </div>
    </a>
    <a class='services' href="myplantai.html">
      <div class="card">
        <div class="image-box">
          <img src="images/myplantai_services.avif">
        </div>
        <div class="content">
          <h2>Teste2</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti porro quis.</p>
        </div>
      </div>
    </a>
    <a class='services' href="myplantai.html">
      <div class="card">
        <div class="image-box">
          <img src="images/slide3.jpg">
        </div>
        <div class="content">
          <h2>MyPlantAI</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti porro quis.</p>
        </div>
      </div>
    </a>
    <a class='services' href="myplantai.html">
      <div class="card">
        <div class="image-box">
          <img src="images/slide2.jpg">
        </div>
        <div class="content">
          <h2>MyPlantAI</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti porro quis.</p>
        </div>
      </div>
    </a>
    <a class='services' href="myplantai.html">
      <div class="card">
        <div class="image-box">
          <img src="images/slide1.avif">
        </div>
        <div class="content">
          <h2>MyPlantAI</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti porro quis.</p>
        </div>
      </div>
    </a>
    {% include "includes/footer.html" %}
  </section>
  <script src="js/sidebar.js"></script>
</body>
</html>
