<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> OptiView Tech | Settings Page </title>
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/teste_support.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="images/optiview_grande.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
    {% include "includes/loader.html" %}
    {% include "includes/sidebar.html" %}
    <section class="home-section">              
        <main>
            <div class="text">Settings</div>
            <section class="support-header">
                <h1>Suporte do PlayStation</h1>
                <p>Como podemos ajudar?</p>
                <div class="search-bar">
                    <input type="text" placeholder="Pesquisar em PlayStation.com">
                    <button class="search-btn">🔍</button>
                </div>
            </section>
            
            <section class="categories">
                <h2>Procurar ajuda por categoria</h2>
                <div class="category-grid">
                    <div class="category-item">
                        <img src="icons/account.png" alt="Conta e segurança">
                        <p>Conta e segurança</p>
                    </div>
                    <div class="category-item">
                        <img src="icons/store.png" alt="PS Store e reembolsos">
                        <p>PS Store e reembolsos</p>
                    </div>
                    <div class="category-item">
                        <img src="icons/services.png" alt="Serviços em camadas">
                        <p>Serviços em camadas</p>
                    </div>
                    <div class="category-item">
                        <img src="icons/games.png" alt="Jogos">
                        <p>Jogos</p>
                    </div>
                    <div class="category-item">
                        <img src="icons/hardware.png" alt="Hardware e reparos">
                        <p>Hardware e reparos</p>
                    </div>
                    <div class="category-item">
                        <img src="icons/security.png" alt="Segurança">
                        <p>Segurança</p>
                    </div>
                </div>
            </section>
        </main>
    </section>
    <script src="js/sidebar.js"></script>
    <script src="js/loader.js"></script>
</body>
</html>